<div class="discussion-main" fxLayout="row">
  <div class="discussion-main-content">
    <div class="discussion-header" fxLayout="row" fxLayoutAlign="space-between center" >
      <div class="discussion-title">{{ discussion.title }}</div>
      <mat-chip-list>
        <mat-chip class="date-chip">{{ discussion.datetime.toLocaleDateString() }}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="discussion-purpose" fxLayout="row" fxLayoutAlign="start center">
        <div class="discussion-sub-title">מטרת הדיון: </div>
        <div class="discussion-sub-content">{{ discussion.purpose }}</div>
    </div>
    <div class="discussion-administrator" fxLayout="row" fxLayoutAlign="start center">
        <div class="discussion-sub-title">מנהל דיון: </div>
        <div class="discussion-sub-content">
            <mat-chip-list>
              <mat-chip class="admin-chip">{{ discussion.administrator }}</mat-chip>
            </mat-chip-list> 
        </div>
    </div>
    <div class="discussion-administrator" fxLayout="row" fxLayoutAlign="start center">
        <div class="discussion-sub-title">נוכחים בדיון: </div>
        <div class="discussion-sub-content">
            <mat-chip-list>
              <mat-chip class="attendant-chip" *ngFor="let attendant of discussion.attendants">{{ attendant }}</mat-chip>
            </mat-chip-list> 
        </div>
    </div>
    <div class="discussion-tags" fxLayout="row" fxLayoutAlign="start center">
        <div class="discussion-sub-title">תיוגים: </div>
        <div class="discussion-sub-content">
            <mat-chip-list>
              <mat-chip class="tag-chip" *ngFor="let tag of discussion.tags">{{ tag }}</mat-chip>
            </mat-chip-list> 
        </div>
    </div>
    <div class="desc-box">
      <app-description-box  [title]="'רקע הדיון'" [description]="discussion.background"></app-description-box>
    </div>
  
    <div class="desc-box">
      <app-description-box  [title]="'עיקרי הדיון'" [description]="discussion.highlights"></app-description-box>
    </div>
  
    <div class="desc-box">
      <app-description-box  [title]="'סיכום מנהלי הדיון'" [description]="discussion.administratorsSummary"></app-description-box>
    </div>
  </div>
  <div class="discussion-divider">
    
  </div>
  <div class="discussion-side">
  
  </div>
</div>