.discussion-header {
    width: 100%;

    .discussion-title {
        font-size: 36px;
        font-weight: bold;
    }
    .date-chip {
        background-color: #eaa971;
    }
}

.discussion-sub-title {
    font-weight: bold;
}

.discussion-sub-content {
    margin-right: 10px;
}

.desc-box {
    margin-top: 10px;
}

.discussion-divider {
    margin-right: 20px;
    border-right: dashed 2px gray;
}