.discussion-main {
    height: 100%;
    .discussion-main-content {
        width: 55%;
    }
    .discussion-header {
        width: 100%;
    
        .discussion-title {
            font-size: 36px;
            font-weight: bold;
        }
        .date-chip {
            background-color: #eaa971;
        }
    }

    .discussion-administrator {
        margin: 5px;
    }
    
    .discussion-sub-title {
        font-weight: bold;
    }
    
    .discussion-sub-content {
        margin-right: 10px;
    }

    .buttons {
        margin-top: 20px;
        button{
            margin-left: 5px;
        }
    }
    
    .desc-box {
        margin-top: 10px;
    }

    .comments {
        min-height: 150px;
        width: 100%;

        .desc-box-title {
            float: right;
            background-color: #6191fd;
            color: white;
            position: relative;
            z-index: 2;
            padding: 5px 20px 5px 20px;
            border-radius: 5px;
        }

        .desc-box-description {
            background-color: white;
            border-color: black;
            border-radius: 5px;
            position: relative;
            top: 10px;
            padding: 30px;
            z-index: 1;

            .comment-container {
                margin-bottom: 10px;
                padding-bottom: 5px;
                border-bottom: dashed 1px gray;
    
                &.row-reverse {
                    flex-direction: row-reverse !important;
                }
    
                .comment-side{
                    text-align: center;
                    .person-logo {
                        height: 40px;
                    }
                }
    
                .comment-content {
                    margin: auto;
                }
            }
        }
    }

    .tasks-box {
        margin-bottom: 5%;
        margin-top: 10px;
    }
    
    .discussion-divider {
        margin-right: 20px;
        border-right: dashed 2px gray;
    }
    
    .discussion-side{
        margin-right: 30px;
        width: 40%;
    }
}

::ng-deep {
    .mat-chip{
        &.mat-standard-chip{
            background-color: #c3c1c1;        
        }    
    }
}

