<div class="sidebar-container">
  <div class="sidebar-discussion-top">
    <span class="go-back"><i class="material-icons">
        chevron_right
        </i></span>
    <div class="current-project">
      <div class="project-title">שם הפרויקט...</div>
        <div class="project-count">
        <span class=" project-discussion-num">11</span>
        <span class="project-discussion-perfix">דיונים</span>
      </div>
    </div>
  </div>
    <div class="sidebar-discussion">
      <div class="discussion-title">הדיון הכי טוב בעולם</div>
      <div class="discussion-date">12/07/2015</div>
  </div>
</div>