@font-face {
    font-family: 'Rubik';
    src: url('subset-Rubik-Regular.woff2') format('woff2'),
        url('subset-Rubik-Regular.woff') format('woff'),
        url('subset-Rubik-Regular.svg#Rubik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('subset-Rubik-Bold.woff2') format('woff2'),
        url('subset-Rubik-Bold.woff') format('woff'),
        url('subset-Rubik-Bold.svg#Rubik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('subset-Rubik-Medium.woff2') format('woff2'),
        url('subset-Rubik-Medium.woff') format('woff'),
        url('subset-Rubik-Medium.svg#Rubik-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('subset-Rubik-Black.woff2') format('woff2'),
        url('subset-Rubik-Black.woff') format('woff'),
        url('subset-Rubik-Black.svg#Rubik-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('subset-Rubik-Light.woff2') format('woff2'),
        url('subset-Rubik-Light.woff') format('woff'),
        url('subset-Rubik-Light.svg#Rubik-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

