@import '../../../../styles/variables.scss';


.mat-dialog-content {
    height: 90%;

    .mat-dialog-actions{
        margin-left: 10%;
        .primary {
            background-color: #6191fd;
        }
    }

    mat-list {
        width: 85%;
        margin: auto;

        mat-form-field{
            display: inline-block;
            width: 30%;
            margin-right: 3%;
        }

    }
}

::ng-deep{
    .mat-dialog-container{
        font-family: $rubik !important;
        overflow: hidden !important;
    
        .mat-dialog-title {
            text-align: center;
            font-family: $rubik !important;
        }

        .mat-dialog-content{
            .mat-form-field{
                display: block;
                font-family: $rubik !important;
                width: 80%;
                margin: auto;
            }
        }
    }
}
