.missions-box {
    .missions-title {
        font-size: 20px;
        font-weight: bold;
    }
    .missions-box-main {
        min-height: 150px;
        width: 100%;
    
        .missions-box-check {
            float: right;
            position: relative;
            z-index: 2;
            top: 40px;
            right: -10px;
        }
    
        .desc-box-description {
            background-color: white;
            border-color: black;
            border-radius: 5px;
            position: relative;
            top: 10px;
            padding: 38px;
            z-index: 1;
        }
    }
}

::ng-deep {
    .mat-checkbox-frame, .mat-checkbox-background {
        border-radius: 50% !important;
    }
}