<h1 mat-dialog-title>הוספת דיון חדש</h1>
<div mat-dialog-content>

  <!-- previousDiscussionId -->
  <mat-form-field>
    <input matInput placeholder="מזהה דיון קודם" [(ngModel)]="discussionObj.previousDiscussionId">
  </mat-form-field>

  <!-- title -->
  <mat-form-field>
    <input matInput placeholder="כותרת" [(ngModel)]="discussionObj.title">
  </mat-form-field>

  <!-- date -->
  <mat-form-field>
    <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="תאריך הדיון" [(ngModel)]="discussionObj.date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- purpose -->
  <mat-form-field>
    <textarea matInput placeholder="מטרת הדיון" [(ngModel)]="discussionObj.purpose"></textarea>
  </mat-form-field>

  <!-- host -->
  <mat-form-field>
    <input matInput placeholder="מנהל הדיון" [(ngModel)]="discussionObj.host">
  </mat-form-field>

  <!-- participants -->
  <mat-form-field class="participants-list">
    <mat-chip-list #participantList>
      <mat-chip *ngFor="let participant of participants" [selectable]="true" [removable]="true"
        (removed)="removeParticipant(participant)">
        {{participant}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="נוכחים בדיון" [matChipInputFor]="participantList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addParticipant($event)">
    </mat-chip-list>
  </mat-form-field>

  <!-- tags -->
  <mat-form-field class="tags-list">
    <mat-chip-list #tagList>
      <mat-chip *ngFor="let tag of tags" [selectable]="true" [removable]="true" (removed)="removeTag(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="תיוגים" [matChipInputFor]="tagList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
  </mat-form-field>

  <!-- background -->
  <mat-form-field>
    <textarea matInput placeholder="רקע הדיון" [(ngModel)]="discussionObj.background"></textarea>
  </mat-form-field>

  <!-- mainPoints -->
  <mat-form-field>
    <textarea matInput placeholder="עיקרי הדיון" [(ngModel)]="discussionObj.mainPoints"></textarea>
  </mat-form-field>

  <!-- mainPointsSum -->
  <mat-form-field>
    <textarea matInput placeholder="סיכום מנהלי הדיון" [(ngModel)]="discussionObj.mainPointsSum"></textarea>
  </mat-form-field>

  <!-- priorTasks -->
  <!-- <app-tasks-list [title]="'משימות מדיון קודם'" [(tasks)]="priorTasks"></app-tasks-list> -->
  <mat-list class="tasks">
      <h3 mat-subheader>משימות מדיון קודם</h3>
      <mat-list-item *ngFor="let task of priorTasks">
        <mat-checkbox [ngClass]="{'checked': task.finished}" [(ngModel)]="task.finished"></mat-checkbox>
        <h4 mat-line>{{ task.summary }}</h4>
        <p mat-line>{{ task.endDate.toLocaleDateString('en-GB') }} | {{ task.responsible }}</p>
        <p mat-line> <a [href]="task.jiraLink" target="_blank">Open in JIRA</a></p>
        <mat-icon mat-list-icon (click)="deletePriorTask(task)">delete</mat-icon>
      </mat-list-item>
      <div>
        <mat-form-field>
          <input matInput placeholder="תיאור" [(ngModel)]="priorTaskObj.summary">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="אחראי" [(ngModel)]="priorTaskObj.responsible">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="קישור ל-JIRA" [(ngModel)]="priorTaskObj.jiraLink">
        </mat-form-field>
        <mat-form-field>
          <input matInput [min]="minDate" [matDatepicker]="picker_prior" placeholder="תאריך סיום המשימה"
            [(ngModel)]="priorTaskObj.endDate">
          <mat-datepicker-toggle matSuffix [for]="picker_prior"></mat-datepicker-toggle>
          <mat-datepicker #picker_prior></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button class="add-task-btn" (click)="addPriorTask($event)">הוסף משימה</button>
      </div>
    </mat-list>

  <!-- continueTasks -->
  <!-- <app-tasks-list [title]="'משימות להמשך'" [(tasks)]="continueTasks"></app-tasks-list> -->
  <mat-list class="tasks">
    <h3 mat-subheader>משימות להמשך</h3>
    <mat-list-item *ngFor="let task of continueTasks">
      <mat-checkbox [ngClass]="{'checked': task.finished}" [(ngModel)]="task.finished"></mat-checkbox>
      <h4 mat-line>{{ task.summary }}</h4>
      <p mat-line>{{ task.endDate.toLocaleDateString('en-GB') }} | {{ task.responsible }}</p>
      <p mat-line> <a [href]="task.jiraLink" target="_blank">Open in JIRA</a></p>
      <mat-icon mat-list-icon (click)="deleteContinueTask(task)">delete</mat-icon>
    </mat-list-item>
    <div>
      <mat-form-field>
        <input matInput placeholder="תיאור" [(ngModel)]="continueTaskObj.summary">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="אחראי" [(ngModel)]="continueTaskObj.responsible">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="קישור ל-JIRA" [(ngModel)]="continueTaskObj.jiraLink">
      </mat-form-field>
      <mat-form-field>
        <input matInput [min]="minDate" [matDatepicker]="picker_continue" placeholder="תאריך סיום המשימה"
          [(ngModel)]="continueTaskObj.endDate">
        <mat-datepicker-toggle matSuffix [for]="picker_continue"></mat-datepicker-toggle>
        <mat-datepicker #picker_continue></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button class="add-task-btn" (click)="addContinueTask($event)">הוסף משימה</button>
    </div>
  </mat-list>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button (click)="exit()">ביטול</button>
    <button mat-raised-button color="primary" (click)="save()">שמירה</button>
  </div>
</div>