@import '../../../../styles/variables.scss';

.sidebar-container {
    padding: 20px 20px 0 20px;
    box-sizing: border-box;

    .search-contianer {
      .search-input {
        color: $white;
        background-color: $dark-blue;
        border: none;
        border-radius: 100px;
        padding: 15px 20px;
        width: 100%;
      }
      .search-input::placeholder {
        color: $white;
        opacity: .75;
      }
    }

    .sidebar-title {
        color: $white;
        text-align: center;
        font-weight: 700;
        margin: 20px 0;
        font-size: 1.1em;
    }

    .sidebar-project {
        background: $white;
        border-radius: 3px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .project-title {
        display: flex;
        align-items: center;
    }

    .discussion-num {
        display: block;
        text-align: center;
        margin-bottom: -0.4em;
    }

    .discussion-count {
        width: 40px;
        text-align: center;
    }
    
    .discussion-perfix {
        font-size: 0.8em;
    }
}
