<div class="sidebar-container">
  <div class="search-contianer" fxLayout="row" fxLayoutAlign="center center" [dir]="'rtl'">
    <input class="search-input" type="text" placeholder="הזן טקסט לחיפוש" />
  </div>
  <div class="sidebar-title">פרויקטים</div>
  <div class="project-name" *ngFor="let project of projects; let i = index" (click)="updateMenuType($event, i)">
    <div class="sidebar-project">
      <div class="project-title"> {{ project.title }}</div>
      <div class="discussion-count">
        <span class="discussion-num">{{ project.discussions.length }}</span>
        <span class="discussion-perfix">דיונים</span>
      </div>
    </div>
  </div>
</div>
