<mat-toolbar fxLayout="row" fxLayoutAlign="start center" class="navbar-main">
  <div class="navbar-content" fxLayout="row" fxLayoutAlign="start center">
    <button class="drawer-btn" mat-button (click)="drawerClick()"><mat-icon>menu</mat-icon></button>
  </div>
  <div class="navbar-content" fxLayout="row" fxLayoutAlign="center center">
    <img class="butler-logo" src="assets/images/logo.png" />
  </div>
  <div class="navbar-content" fxLayout="row" fxLayoutAlign="end center">
    <div>ישראל ישראלי</div>
    <img class="person-logo" src="assets/images/person.png">
  </div>
</mat-toolbar>