.mat-toolbar {
    background-color: white;
}
.navbar-main {
    width: 100%;
    .navbar-content {
        width: 100%;
        height: 100%;
    }

    .drawer-btn {}
    .butler-logo {
        height: 100%;
    }
}